 body {
    background-color: #F5D1F1; /* Светлый пастельный фон */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #F8E8F4; /* Белый фон для контента */
    border-radius: 15px; /* Закругленные углы */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    text-align: center;
    animation: fadeIn 1s ease-in;
}

h1 {
    color: #FF1FB7; /* Пастельный синий цвет */
}

h2 {
    color: #FF1FB7; /* Пастельный розовый цвет */
}

p {
    color: #333; /* Темно-серый цвет текста */
    line-height: 1.6;
}

.download-button {
    background-color: #F698E1; /* Пастельный зеленый */
    color: white;
    border: none;
    border-radius: 10px; /* Закругленные углы кнопки */
    padding: 15px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #E538BF; /* Темно-зеленый цвет кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
